<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gg.soc.wikicloggy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.camera.front" />
    <uses-permission android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/main_cloggy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".BoardActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".CameraActivity"
            android:theme="@android:style/Theme.Holo" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".ResultActivity"
            android:theme="@android:style/Theme.Holo" />
        <activity android:name=".MapActivity" />
        <activity android:name=".UserLogActivity" />
        <activity android:name=".CreatePostActivity" />
        <activity android:name=".PostLogActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".WaitingResultActivity" />
        <activity android:name=".ResultFailActivity"
            android:theme="@android:style/Theme.Holo"></activity>
    </application>

</manifest>